{% extends 'header.html' %}
{% load static %}

{% block title %}
    <title>EGGS - Validation du compte</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/login.css' %}">
{% endblock %}

{% block connexions %}
    <p class="titre">- Validation du compte</p>
    <ul class="links">
        <li><a href="{% url 'home' %}">Retour à l'accueil</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="page-titre">
        <h2>Validation du compte</h2>
    </div>

    <p class="text">Nous vous avons envoyé par e-mail des instructions pour valider votre email<strong><br></strong>
        Si vous ne recevez pas d'e-mail, vérifiez votre dossier spam.</p>

{% endblock %}