{% extends 'header.html' %}
{% load static %}

{% block title %}
    <title>EGGS - Connexion</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/login.css' %}">
{% endblock %}

{% block connexions %}
    <p class="titre">- Connexion</p>
    <ul class="links">
        <li><a href="{% url 'home' %}" class="survol">Retour à l'accueil</a><br></li>
        <li><a href="{% url 'home:signin' %}" class="survol">Inscription</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="page-titre">
        <h2>Connexion</h2>
    </div>

    {% if error %}
        <p class="error"><strong>Nom d'utilisateur ou/et mot de passe incorrect </strong></p>
    {% endif %}

    {% if user.is_authenticated %}
        Vous êtes connecté, {{ user.username }} !
    {% else %}
        <form id="formulaire-login" action="{% url 'home:login' %}" method="POST">
            {% csrf_token %} <!-- Vérification sécurité-->
            {% for field in form %}
                <div>
                    <div class="error">
                        {{ field.errors }}
                    </div>
                    {{ field.label_tag }}{{ field }}
                </div>
            {% endfor %}
            <input id="bouton_val" type="submit" value="Valider">
            <div id="signin">
                <p>Vous n'avez pas encore de compte ?</p>
                <a href="{% url 'home:signin' %}" class="lien">Inscrivez-vous.</a>
            </div>
        </form>
        <div id="cont-mdpo">
            <a class="mdpo" href="{% url 'home:password_reset' %}">Mot de passe oublié ?</a><br>
        </div>
    {% endif %}

{% endblock %}