{% extends 'header.html' %}
{% load static %}

{% block title %}
    <title>EGGS - Connexion</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/login.css' %}">
{% endblock %}

{% block connexions %}
    <ul class="links">
        <li><a href="{% url 'home' %}" class="survol">Retour à l'accueil</a><br></li>
        <li><a href="{% url 'home:signin' %}" class="survol">Inscription</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2>Connexion</h2>

    {% if error %}
        <p class="error"><strong>Nom d'utilisateur ou/et mot de passe incorrect </strong></p>
    {% endif %}

    {% if user.is_authenticated %}
        Vous êtes connecté, {{ user.username }} !
    {% else %}
        <form action="{% url 'home:login' %}" method="POST">
            {% csrf_token %} <!-- Vérification sécurité-->
            {% for field in form %}
                <div>
                    <div class="error">
                        {{ field.errors }}
                    </div>
                    {{ field.label_tag }}{{ field }}
                </div>
            {% endfor %}
            <a href="{% url 'home:password_reset' %}" class="mdpo">Mot de passe oublié ?</a><br>
            <input type="submit" value="Valider">
        </form>
    {% endif %}

    <div id="signin">
        <p>Vous n'avez pas encore de compte ?</p>
        <a href="{% url 'home:signin' %}" class="lien">Inscrivez-vous.</a>
    </div>

{% endblock %}