{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>EGGS - Récupération de mot de passe</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
 <h2>Récupération de mot de passe</h2>

    <nav>
        <a href="{% url 'home' %}">Retour à l'accueil</a><br>
        <a href="{% url 'home:signin' %}">Inscription</a><br>
        <a href="{% url 'home:login' %}">Connexion</a>
    </nav>

    <p class="text">Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec
        l'e-mail que vous avez entré. Vous devriez les recevoir sous peu.<strong><br></strong>
        Si vous ne recevez pas d'e-mail, veuillez vous assurer que vous avez saisi l'adresse avec laquelle vous vous êtes inscrit,
     et vérifiez votre dossier spam.</p>

{% endblock %}