{% extends 'header.html' %}
{% block title %}
    <title>EGGS - Récupération de mot de passe</title>
{% endblock %}


{% block content %}
 <h2>Récupération de mot de passe</h2>

    <p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec
        l'e-mail que vous avez entré. Vous devriez les recevoir sous peu.</p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vous assurer que vous avez saisi l'adresse avec laquelle vous vous êtes inscrit,
     et vérifiez votre dossier spam.</p>

    <a href="{% url 'home' %}">Retour à l'accueil</a><br>
    <a href="{% url 'home:signin' %}">Inscription</a><br>
    <a href="{% url 'home:login' %}">Connexion</a><br>
{% endblock %}