{% extends 'header.html' %}
{% load static %}

{% block title %}
    <title>EGGS - Récupération de mot de passe</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/login.css' %}">
{% endblock %}

{% block connexions %}
    <p class="titre">- Récupération de mot de passe</p>
    <ul class="links">
        <li><a href="{% url 'home' %}">Retour à l'accueil</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="page-titre">
        <h2>Récupération de mot de passe</h2>
    </div>
    <form id="formulaire-login" action="" method="POST">
        {% csrf_token %} <!-- Vérification sécurité-->
        {{ form.as_p }}
        <input id="bouton_val" type="submit" value="Valider">
    </form>

{% endblock %}