{% extends 'header.html' %}
{% block title %}
    <title>EGGS - Récupération de mot de passe</title>
{% endblock %}


{% block content %}
    <h2>Récupération de mot de passe</h2>

    {% if validlink %}
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change password</button>
        </form>
    {% else %}
        <p>
            Le lien de réinitialisation du mot de passe n'était pas valide, probablement parce qu'il a déjà été utilisé.
            Veuillez demander une nouvelle réinitialisation de mot de passe.
        </p>
    {% endif %}
{% endblock %}


