{% autoescape off %}
Bonjour {{ user.get_full_name }},

Pour lancer le processus de réinitialisation du mot de passe pour votre compte EGGS cliquez sur le lien ci-dessous:
    {{ protocol }}://{{ domain }}{% url 'home:password_reset_confirm' uidb64=uid token=token %}

Si le fait de cliquer sur le lien ci-dessus ne fonctionne pas, veuillez copier et coller l'URL dans un nouveau navigateur fenêtre à la place.

Si vous n'êtes pas redirigé suite à la saisie de votre nouveau mot de passe, la modification n'aura pas fonctionné.
Dans ce cas, vérifier que vous n'avez pas reçu un autre email avant celui-ci avec un lien de réinitialisation.

    Sincérement,
    L'équipe EGGS
{% endautoescape %}