{% extends 'header.html' %}
{% load static %}

{% block title %}
    <title>EGGS - Récupération de mot de passe</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/login.css' %}">
{% endblock %}

{% block connexions %}
    <p class="titre">- Récupération de mot de passe</p>
    <ul class="links">
        <li><a href="{% url 'home' %}">Retour à l'accueil</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="page-titre">
        <h2>Récupération de mot de passe</h2>
    </div>
    <br><br>
    <p class="text-reset">Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec
        l'e-mail que vous avez entré. Vous devriez les recevoir sous peu.<strong><br></strong>
        Si vous ne recevez pas d'e-mail, veuillez vous assurer que vous avez saisi l'adresse avec laquelle vous vous êtes inscrit,
     et vérifiez votre dossier spam.</p>

{% endblock %}