{% extends 'header.html' %}
{% load static %}

{% block title %}
    <title>EGGS - Récupération de mot de passe</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/signin.css' %}">
{% endblock %}

{% block connexions %}
    <p class="titre">- Récupération de mot de passe</p>
    <ul class="links">
        <li><a href="{% url 'home' %}">Retour à l'accueil</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="page-titre">
        <h2>Récupération de mot de passe</h2>
    </div>
    {% if validlink %}
        <form id="formulaire-signin" method="post" action="">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <div class="error">
                        {{ field.errors }}
                    </div>
                    {{ field.label_tag }}{{ field }}
                </div>
            {% endfor %}
            <button id="bouton-valider" type="submit">Modifier le mot de passe</button>
        </form>
    {% else %}
        <p class="text">
            Le lien de réinitialisation du mot de passe n'était pas valide, probablement parce qu'il a déjà été utilisé.
            Veuillez demander une nouvelle réinitialisation de mot de passe.
        </p>
    {% endif %}
{% endblock %}


