{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>EGGS - Récupération de mot de passe</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/signin.css' %}">
{% endblock %}


{% block content %}
 <h2>Récupération de mot de passe</h2>

    <form action="" method="POST">
        {% csrf_token %} <!-- Vérification sécurité-->
        {{ form.as_p }}
        <input type="submit" value="Valider">
    </form>

    <nav>
        <a href="{% url 'home' %}">Retour à l'accueil</a><br>
        <a href="{% url 'home:signin' %}">Inscription</a><br>
        <a href="{% url 'home:login' %}">Connexion</a><br>
    </nav>
{% endblock %}