{% extends 'base.html' %}
{% block title %}
    <title>EGGS - Récupération de mot de passe</title>
{% endblock %}


{% block content %}
    <h2>Récupération de mot de passe</h2>

    {% if validlink %}
        <div id="container">
            <form method="post" action="">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        <div class="error">
                            {{ field.errors }}
                        </div>
                        {{ field.label_tag }}{{ field }}
                    </div>
                {% endfor %}
                <button type="submit">Modifier le mot de passe</button>
            </form>
        </div>
    {% else %}
        <p class="text">
            Le lien de réinitialisation du mot de passe n'était pas valide, probablement parce qu'il a déjà été utilisé.
            Veuillez demander une nouvelle réinitialisation de mot de passe.
        </p>
    {% endif %}
{% endblock %}


