{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>EGGS - Récupération de mot de passe</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block content %}
    <h2>Récupération de mot de passe</h2>

    <nav>
        <a href="{% url 'home' %}">Retour à l'accueil</a><br>
    </nav>

    <p class="text">
        Votre mot de passe a bien été modifié. <a href="{% url 'home:login' %}">Me connecter</a> maintenant.
    </p>


{% endblock %}