{% extends 'header.html' %}
{% load static %}

{% block title %}
    <title>EGGS - Inscription</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/signin.css' %}">
{% endblock %}

{% block connexions %}
    <p class="titre">- Inscription</p>
    <ul class="links">
        <li><a href="{% url 'home' %}" class="survol">Retour à l'accueil</a><br></li>
        <li><a href="{% url 'home:login' %}" class="survol">Connexion</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="page-titre">
        <h2>Inscription</h2>
    </div>

    <form id="formulaire-signin" action="{% url 'home:signin' %}" method="POST">
        {% csrf_token %} <!-- Vérification sécurité-->
        <div class="error">
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
        </div>
        {% for field in form %}
            <div>
                {{ field.label_tag }}{{ field }}
            </div>
        {% endfor %}
        <input id="bouton-valider" type="submit" value="Valider">
        <div id="login">
            <p>Vous avez déjà un compte ?<a href="{% url 'home:login' %}" class="lien">Connectez-vous.</a></p>
        </div>
    </form>

{% endblock %}