{% extends 'header.html' %}

{% block title %}
    <title>EGGS - Inscription</title>
{% endblock %}



{% block content %}
    <h2>Incription</h2>

    <nav>
        <a href="{% url 'home' %}" class="survol">Retour à l'accueil</a><br>
        <a href="{% url 'home:login' %}" class="survol">Connexion</a>
    </nav>

    {% if error == "username" %}
        <p><strong>Nom d'utilisateur déjà existant</strong></p>
    {% elif error == "email" %}
        <p><strong>Adresse email déjà existant</strong></p>
    {% elif error == "different_password" %}
        <p><strong>Les mots de passe sont différents</strong></p>
    {% elif error == "password_condition" %}
        <p><strong>Les conditions de mot de passe ne sont pas remplis</strong></p>
    {% elif error == "other" %}
        <p><strong>Erreur</strong></p>
    {% endif %}

    <div id="container">
        <form action="{% url 'home:signin' %}" method="POST">
            {% csrf_token %} <!-- Vérification sécurité-->
            {{ form.as_p }}
            <input type="submit" value="Valider">
        </form>
    </div>


{% endblock %}
