{% extends 'manager/dashboard.html' %}
{% load static %}

{% block title_manager %}
    <title>EGGS - Manager</title>
{% endblock %}

{% block stylesheet_manager %}
    <link rel="stylesheet" href="{% static 'manager/css/add_products.css' %}">
{% endblock %}

{% block content_manager %}
    <p class="titre">- Ajouter un produit</p>
     <form id="formulaire" action="{% url 'manager:add_product' %}" method="POST">
         {% csrf_token %} <!-- Vérification sécurité-->

        {% for field in form %}
            {{ field.errors }}
        {% endfor %}

         {% for field in form %}
             <div>
                 {{ field.label_tag }}{{ field }}
             </div>
         {% endfor %}
         <input id="ajout" type="submit" value="Ajouter">
     </form>
{% endblock %}