{% extends 'manager/base_manager.html' %}
{% load static %}

{% block title_manager %}
    <title>EGGS - Manager</title>
{% endblock %}

{% block stylesheet_manager %}
    <link rel="stylesheet" href="{% static 'home/css/add_editor.css' %}">
{% endblock %}

{% block content_manager %}
    <p class="titre">- Ajouter un éditeur</p>
    <form action="{% url 'manager:add_editor_db' %}" method="POST">
        {% csrf_token %} <!-- Vérification sécurité-->
        {% for field in form %}
            <div>
                {{ field.errors }}
            </div>
        {% endfor %}
        {% for field in form %}
            <div>
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Ajouter">
    </form>
{% endblock %}


