{% extends 'manager/base_manager.html' %}
{% load static %}

{% block title_manager %}
    <title>EGGS - Manager</title>
{% endblock %}

{% block stylesheet_manager %}
    <link rel="stylesheet" href="{% static 'home/css/add_owner_editor_reader.css' %}">
{% endblock %}

{% block content_manager %}
    <p class="titre">- Ajouter un propriétaire à la base de données</p>
    <div class="container">
        <p>Saisissez un pseudo existant pour ajouter un nouveau propriétaire</p>
        <form action="{% url 'manager:add_owner_db' %}" method="POST">
            {% csrf_token %} <!-- Vérification sécurité-->
            {% for field in form %}
                <div>
                    {{ field.errors }}
                </div>
            {% endfor %}
            {% for field in form %}
                <div>
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Ajouter">
        </form>
    </div>
{% endblock %}