{% load static %}

<head>
    <title>EGGS - Manager</title>
    {% block title_manager %} {% endblock %}

    <link rel="stylesheet" href="{% static 'home/css/base_manager.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/header.css' %}">
    {% block stylesheet_manager %} {% endblock %}

    <ul class="lien">
        <li><a href="{% url 'home' %}">Retour à l'accueil</a></li>
    </ul>
</head>

<body>
    <div class = "header">
        <img id = "logo" src = "{% static 'home/img/logo.png' %}" alt = "logo eggs">

        <div class = "rectangles">
            <div class = "r1"></div>
            <div class = "r2"></div>
            <div class = "r3"></div>
        </div>

        <div class = "menu-bar">
            <div class = "eggs">Eggs</div>
            <div class = "burger">
                <div class = "line1"></div>
                <div class = "line2"></div>
                <div class = "line3"></div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class="name">{{ user.get_full_name }}</div>
        <div class="profil">
            <a href ="{% url 'manager:compte' %}">
                <img src="{% static 'home/img/mon_compte.png' %}">
            </a>
        </div>
    {% endif %}
    <a class="ajout_bdd" href="{% url 'manager:add_database' %}"><p>Ajouter une base de données</p></a>
    <a class="ajout_prod" href="{% url 'manager:add_product' %}"><p>+</p></a>
    <a class="x_prod" href="{% url 'manager:display_products' %}"><p>Afficher les produits</p></a>


    {% if user.current_database != None %}
        <a class="ajout_prod" href="{% url 'manager:add_product' %}"><p>+</p></a>
        <a class="x_prod" href="{% url 'manager:display_products' %}"><p>Afficher les produits</p></a>
    {% endif %}

    <form action="{% url 'manager:dashboard' %}" method="POST">
        {% csrf_token %} <!-- Vérification sécurité-->
        <select name="database" id="m_bdd">
            {% if user.current_database == None %}
                <option value="None" selected>Aucune base de donnée</option>
            {% else %}
                <option value="{{ user.current_database.name }}" selected>{{ user.current_database.name }}</option>
                    <optgroup label="Propriétaire">
                        {% for database in user.owner.all %}
                            {% if database.name != user.current_database.name %}
                                <option value="{{ database.name }}">{{ database.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Editeur">
                        {% for database in user.editor.all %}
                            {% if database.name != user.current_database.name %}
                                <option value="{{ database.name }}">{{ database.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Lecteur">
                        {% for database in user.reader.all %}
                            {% if database.name != user.current_database.name %}
                                <option value="{{ database.name }}">{{ database.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </optgroup>
            {% endif %}
        </select>
        {% if user.current_database != None %}
            <input class="changer" type="submit" value="Changer">
        {% endif %}
    </form>

    <div class="dashboard">
        <ul class="nav-dashboard">
            <li class="nav-item" id="database">
                <a href ="{% url 'manager:my_databases' %}">
                    <img src="{% static 'home/img/database.png' %}">
                </a>
            </li>
            <li class="nav-item">
                <img src="{% static 'home/img/map.png' %}">
            </li>
            <li class="nav-item">
                <img src="{% static 'home/img/stat.png' %}">
            </li>
            <li class="nav-item">
                <img src="{% static 'home/img/list.png' %}">
            </li>
            <li class="nav-item">
                <a href ="{% url 'manager:settings_database' %}">
                    <img src="{% static 'home/img/settings.png' %}">
                </a>
            </li>
            <li class="nav-item" id="contact">
                <a href ="{% url 'manager:contact' %}">
                    <img src="{% static 'home/img/contact.png' %}">
                </a>
            </li>
        </ul>
    </div>
    {% block content_manager %}{% endblock %}
</body>