{% extends 'manager/base_manager.html' %}
{% load static %}

{% block title_manager %}
    <title>EGGS - Contacts</title>
{% endblock %}

{% block stylesheet_manager %}
    <link rel="stylesheet" href="{% static 'manager/css/contact.css' %}">
{% endblock %}

{% block content_manager %}
    <p class="titre">- Nous contacter</p>
    <div id="contact-content">
        <form id="contact-form" action="{% url 'manager:contact' %}" method="POST">
            {% csrf_token %}
            <p>Voulez-vous nous faire part de quelque chose ?</p>
            {{ form.subject }}
            {{ form.message }}
            <input id="contact-button" type="submit" value="Envoyer">
        </form>

        <div id="contact-socials">
            <p>Retrouvez-nous sur nos réseaux :</p>
            <img id="imgSocials" src="{% static 'home/img/Twitter link.png' %}" alt="Notre Twitter">
            <img id="imgSocials" src="{% static 'home/img/Facebook link.png' %}">
        </div>
        {% if send %}
            Message envoyé
        {% endif %}
    </div>
{% endblock %}

