{% extends 'header.html' %}
{% load static %}

{% block title %}
    <title>EGGS - Manager</title>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/dashboard.css' %}">
{% endblock %}

{% block connexions %}
    <ul class="links">
        <li><a href="{% url 'home:logout' %}" class="top-menu">Deconnexion</a><br></li>
        <li><a href="{% url 'home' %}">Retour à l'accueil</a></li>
    </ul>
{% endblock %}

{% block content %}
    <nav id="ajout_bdd">
        <p id="text_ajout">Ajouter une base de donnée</p>
        <a href="{% url 'manager:add_database' %}" class="top-menu" id="bouton_ajout"></a><br>
        {% if user.current_database != None %}
            <a href="{% url 'manager:add_product' %}" class="top-menu">Ajouter un produit</a><br>
            <a href="{% url 'manager:display_products' %}" class="top-menu">Afficher les produits</a><br>
        {% endif %}
    </nav>

    <div class="dashboard"></div>

    <div class="rectPro"></div>
    <div class="rectTitrePro"><p id="textPro">Propriétaire</p></div>

    <div class="rectEdit"></div>
    <div class="rectTitreEdit"><p id="textEdit">Editeur</p></div>

     <div class="rectReader"></div>
    <div class="rectTitreReader"><p id="textReader">Consultant</p></div>


    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <form action="{% url 'manager:dashboard' %}" method="POST">
        {% csrf_token %} <!-- Vérification sécurité-->
        <select name="database" id="m_bdd">
            {% if user.current_database == None %}
                <option value="None" selected>Aucune base de donnée</option>
            {% else %}
                <option value="{{ user.current_database.name }}" selected>{{ user.current_database.name }}</option>

                <optgroup label="Propriétaire">
                    {% for database in user.owner.all %}
                        {% if database.name != user.current_database.name %}
                            <option value="{{ database.name }}">{{ database.name }}</option>
                        {% endif %}
                    {% endfor %}
                </optgroup>

                <optgroup label="Editeur">
                    {% for database in user.editor.all %}
                        {% if database.name != user.current_database.name %}
                            <option value="{{ database.name }}">{{ database.name }}</option>
                        {% endif %}
                    {% endfor %}
                </optgroup>

                <optgroup label="Lecteur">
                    {% for database in user.reader.all %}
                        {% if database.name != user.current_database.name %}
                            <option value="{{ database.name }}">{{ database.name }}</option>
                        {% endif %}
                    {% endfor %}
                </optgroup>

            {% endif %}
        </select>
        {% if user.current_database != None %}
            <input type="submit" value="Changer">
        {% endif %}

    </form>

    {% if user.is_authenticated %}
        <p class="name">{{ user.get_full_name }}</p>
    {% endif %}

{% endblock %}