{% extends 'manager/dashboard.html' %}
{% load static %}

{% block title_manager %}
    <title>EGGS - Manager</title>
{% endblock %}

{% block stylesheet_manager %}
    <link rel="stylesheet" href="{% static 'home/css/my_databases.css' %}">
{% endblock %}

{% block content_manager %}
    <div class="rectPro"></div>
    <div class="rectTitrePro">
    <h2 id="textPro">Propriétaire</h2></div>
    {% if user.owner.count == 0 %}
        <p id="p_Pro">Pas de base de données</p>
    {% else %}
        {% for database in user.owner.all %}
            {% if database.name != user.current_database.name %}
                <nav id="a_Pro">
                    <a href="{% url 'manager:switch_current_db' database_name=database.name %}">{{ database.name }}</a>
                </nav>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="rectEdit"></div>
    <div class="rectTitreEdit">
    <h2 id="textEdit">Editeur</h2></div>
    {% if user.editor.count == 0 %}
        <p id="p_Edit">Pas de base de données</p>
    {% else %}
        {% for database in user.editor.all %}
            {% if database.name != user.current_database.name %}
                <a id="a_Edit" href="{% url 'manager:switch_current_db' database_name=database.name %}">{{ database.name }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="rectReader"></div>
    <div class="rectTitreReader">
    <h2 id="textReader">Lecteur</h2></div>
    {% if user.editor.count == 0 %}
        <p id="p_Reader">Pas de base de données</p>
    {% else %}
        {% for database in user.reader.all %}
            {% if database.name != user.current_database.name %}
                <a id="a_Reader" href="{% url 'manager:switch_current_db' database_name=database.name %}">{{ database.name }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}