{% extends 'manager/base_manager.html' %}
{% load static %}

{% block title_manager %}
    <title>EGGS - Manager</title>
{% endblock %}

{% block stylesheet_manager %}
    <link rel="stylesheet" href="{% static 'manager/css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/my_databases.css' %}">
{% endblock %}

{% block content_manager %}
    <p class="titre">- Réglages de ma base de données</p>
    <div class="wrapper-section">
        <div class="button-section">
            <h1>{{ user.current_database.name }}</h1>
            <button id="my-db" onclick="window.location.href='{% url 'manager:my_databases' %}'">Mes bases de données</button>
            <button id="newdb" onclick="window.location.href='{% url 'manager:add_database' %}'">Nouvelle base de donnée</button>
        </div>

        <div class="wrapper-mydb">
            <div class="rect owner">
                <h2 class="textTitre">Propriétaires</h2>
                <div class="rectListe">
                    {% for owner in user.current_database.user_owner.all %}
                        {% if owner == user %}
                            <p style="color:#007AFF; font-weight: bold">{{ owner.get_full_name }} <{{ owner.id }}></p>
                        {% else %}
                            <p>@{{ owner.get_full_name }} <{{ owner.id }}></p>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

            <div class="rect editor">
                <div class="rectListe">
                    <h2 class="textTitre">Editeurs</h2>
                    <div class="rectListe">
                        {% for editor in user.current_database.user_editor.all %}
                            {% if editor == user %}
                                <p style="color:#007AFF; font-weight: bold">{{ editor.get_full_name }} <{{ editor.id }}></p>
                            {% else %}
                                <p>@{{ editor.get_full_name }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="rect viewer">
                <h2 class="textTitre">Lecteurs</h2>
                <div class="rectListe">
                    {% for reader in user.current_datase.user_reader.all %}
                        {% if reader == user %}
                            <p style="color:#007AFF; font-weight: bold">{{ reader.get_full_name }} <{{ reader.id }}></p>
                        {% else %}
                            <p>@{{ reader.get_full_name }} <{{ reader.id }}></p>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>


        </div>

        <div id="wrapper-button">
            <div id="add-buttons">
                <button onclick="window.location.href='{% url 'manager:add_owner_db' %}'">Ajouter un propriétaire</button>
                <button onclick="window.location.href='{% url 'manager:add_editor_db' %}'">Ajouter un éditeur</button>
                <button onclick="window.location.href='{% url 'manager:add_reader_db' %}'">Ajouter un lecteur</button>
            </div>
            <div id="leave-button">
                <button onclick="window.location.href='{% url 'manager:leave_db' %}'">Quitter la base de données</button>
            </div>
        </div>
    </div>

{% endblock %}




