{% extends 'manager/base_manager.html' %}
{% load static %}

{% block title_manager %}
    <title>EGGS - Manager</title>
{% endblock %}

{% block stylesheet_manager %}
    <link rel="stylesheet" href="{% static 'home/css/update_compte.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/compte.css' %}">
{% endblock %}

{% block content_manager %}
    <p class="titre">- Modifier mon mot de passe</p>
    <div class="name_c">{{ user.get_full_name }}</div>
    <img class="profil_c" src="{% static 'home/img/mon_compte.png' %}">

    <ul class="info">
        <li class="user1"><br><h4>Nom d'utilisateur : <p>{{ user.username }}</p></h4></li>
        <li class="user2"><br><h4>Date d'inscription : <p>{{ user.date_joined }}</p></h4></li>
        <li class="user3"><br><h4>Prénom : <p>{{ user.first_name }}</p></h4></li>
        <li class="user4"><br><h4>Nom : </h4><div><p>{{ user.last_name }}</p></div></li>
    </ul>
    <ul class="info2">
        <li class="user1"><br><h4>Email : <p>{{ user.email }}</p></h4></li>
        <li class="user2">
            <form action="{% url 'manager:update_password' %}" method="POST"><br>
                {% csrf_token %} <!-- Vérification sécurité-->
                {% for field in form %}
                    <div>
                        {{ field.errors }}
                    </div>
                {% endfor %}
                {% for field in form %}
                    <div>
                        {{ field.label_tag }}{{ field }}
                    </div>
                {% endfor %}

            </form>
        </li>
    </ul>

    <input class="valider" type="submit" value="Valider">
{% endblock %}