.button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

#wrapper-button{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

#add-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 22px;
}