#contact{
    background: rgba(206, 121, 236, 0.54);
}

#contact:hover{
    background: rgba(206, 12, 250, 0.54);
}

form{
    position: absolute;
    width: 825px;
    height: 343.5px;
    left: 227px;
    top: 176px;
}

button[type=submit]{
    position: absolute;
    width: 172px;
    height: 40px;
    left: 88%;
    top: 90%;
    background-color: #5e81ff;
    border-radius: 14px;

    border: none;
    color: white;
    cursor: pointer;
}


button[type=submit]:hover{
    background-color: #007AFF;
}

#objet{
    position: absolute;
    width: 825px;
    height: 55px;
    left: 10%;
    top: 20%;
    border: none;
    background: #FFFCFC;
}

#message{
    position: absolute;
    width: 825px;
    height: 150px;
    left: 10%;
    top: 40%;
    border: none;
    background: #FFFCFC;
}

::placeholder{
    padding: 5px;
    font-size: 15px;
    color: rgba(60, 60, 67, 0.6);
}

h5{
    position: absolute;
    left: 10%;
    top: 10%;

    font-family: "SF Pro Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}