.name{
    z-index: 2;

    position: fixed;
    width: 10%;
    height: 18px;
    right: 8%;
    top: 5%;

    font-family: "SF Pro Rounded", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    text-align: right;

    color: black;
}

#m_bdd{
    z-index: 2;

    position: fixed;
    width: 20%;
    height: 23px;
    left: 10%;
    top: 2%;

    font-family: "SF Pro Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.3px;

    color: #252733;
}

.ajout_bdd p{
    z-index: 3;

    position: fixed;
    left: 12.5%;
    top: 9%;

    font-family: "SF Pro Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    letter-spacing: -0.408px;

    color: #FFFFFF;
}

.ajout_bdd a{
    z-index: 2;

    position: fixed;
    width: 20%;
    height: 46px;
    left: 10%;
    top: 7%;

    background: #007AFF;
    border-radius: 14px;
}

.ajout_bdd a:hover{
    background: darkblue;
}

.lien{
    z-index: 2;

    position: fixed;
    right: 8%;
    top: 9%;

    font-family: "SF Pro Rounded", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    text-align: right;

    color: #252733;
}

.lien a{
    color: black;
    text-decoration: none;
    font-family: "SF Pro Rounded", sans-serif;
    font-weight: bold;
}

.lien li {
    list-style: none;
}


.dashboard{
    position: fixed;
    width: 7%;
    height: 100%;
    left: 0;
    top: 0;

    background: #FFF2F6;
}

.nav-dashboard{
    position: fixed;
    top: 20%;
    width: 7%;
}

.nav-item{
    margin-top: 20px;
    padding: 10% 10% 10% 20%;
    width: 100%;
    height: 100%;
    top: 20%;
}

img{
    width: 50px;
    height: 50px;
}

.nav-item:hover {
    background: rgba(206, 121, 236, 0.54);
    cursor: pointer;
}
