.name{
    position: absolute;
    width: 10%;
    height: 18px;
    right: 8%;
    top: 0.5%;

    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    text-align: right;
    letter-spacing: 0.2px;

    color: #252733;
}

#m_bdd{
    position: absolute;
    width: 20%;
    height: 23px;
    left: 10%;
    top: 0.5%;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.3px;

    color: #252733;
}

#text_ajout{
    position: absolute;
    left: 12%;
    top: 23%;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    letter-spacing: -0.408px;

    color: #FFFFFF;
}

#text_ajout:hover{
    color: darkblue;
}

#bouton_ajout{
    position: absolute;
    width: 20%;
    height: 46px;
    left: 10%;
    top: 5%;

    background: #007AFF;
    border-radius: 14px;
}

.dashboard{
    position: absolute;
    width: 7%;
    height: 714px;
    left: 0px;
    top: 0px;

    background: #FFF2F6;
}

.rectTitrePro{
    position: absolute;
    height: 42px;
    width: 26%;
    left: 10.75%;
    top: 114px;

    background: #B8C7FC;
    border-radius: 14px;
}

.rectPro{
    position: absolute;
    width: 26%;
    height: 494px;
    left: 10.75%;
    top: 162px;

    background: #FFFFFF;
}

#textPro{
    position: absolute;
    width: 177px;
    height: 30px;
    left: 28%;
    top: 10%;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.rectTitreEdit{
    position: absolute;
    height: 42px;
    width: 26%;
    left: 40.5%;
    top: 114px;

    background: #EAAFFF;
    border-radius: 14px;
}

.rectEdit{
    position: absolute;
    width: 26%;
    height: 494px;
    left: 40.5%;
    top: 162px;

    background: #FFFFFF;
}

#textEdit{
    position: absolute;
    width: 177px;
    height: 30px;
    left: 35%;
    top: 10%;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.rectTitreReader{
    position: absolute;
    width: 26%;
    height: 42px;
    left: 70.25%;
    top: 114px;

    background: #F8FFCF;
    border-radius: 14px;
}

.rectReader{
    position: absolute;
    width: 26%;
    height: 494px;
    left: 70.25%;
    top: 162px;

    background: #FFFFFF;
}

#textReader{
    position: absolute;
    width: 177px;
    height: 30px;
    left: 30%;
    top: 10%;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}