.null{
    position: absolute;
    top: 50%;
    left: 40%;
}

.affichage{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 50%;
    color: black;
}

.affichage li{
    list-style: none;
    padding: 20px 0 0 0;
}

.affichage a{
    color: #5e81ff;
}

.affichage a:hover{
    font-weight: bold;
}


