* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #F9F9FA;
}

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 118px;
    overflow-y: hidden;
}

.sub-content {
    position: absolute;
    display: block;
    width: 100%;
    min-height: 100%;
    top: 145px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: -200px;
}

.menu-bar {
    overflow-y: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 11.5vh;
    max-width: 100vw;

    /*background: linear-gradient(#B8C7FC, #EAAFFF);*/
}

#logo {
    position: absolute;
    max-width: 70px;
    max-height: 70px;
    top: 5%;
    left: 1%;
}

.eggs {
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    font-family: "SF Pro Rounded", sans-serif;
}


.links {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 35vw;
    right: 2vw;
    top: 50%;
}

.links a {
    color: black;
    text-decoration: none;
    font-family: "SF Pro Rounded", sans-serif;
    font-weight: bold;
}

.links li {
    list-style: none;
}

.rectangles {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 118px;
}

.burger {
    position: absolute;
    display: none;
    right: 10vw;
    top: 6vh;
}

.burger div {
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {

    .r1 {
        position: absolute;
        width: 100vw;
        height: 100%;
        left: 0px;
        top: 0px;

        background: #F8FFCF;
    }

    .r2 {
        position: absolute;
        width: 120vw;
        height: 100%;
        left: -10vw;
        top: -4vh;
        background: #EAAFFF;
        border-radius: 30px;
        transform: matrix(0.99, -0.01, -0.8, 1, 0, 0) rotate(-4deg);
    }

    .r3 {
        position: absolute;
        width: 115vw;
        height: 110%;
        left: -5vw;
        top: -5.5vh;

        background: #B8C7FC;
        border-radius: 30px;
        transform: matrix(0.99, 0.04, -0.11, 1, 0, 0);
    }
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        right: 0%;
        height: 100vh;
        top: 14vh;

        z-index: 1;

        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: #FFF2F6;
        opacity: 0.75;
    }

    .links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger div {
        border-radius: 20%;
    }

    .r1 {
        position: absolute;
        width: 100vw;
        height: 100%;
        left: 0px;
        top: 0px;

        background: #F8FFCF;
    }

    .r2 {
        position: absolute;
        width: 120vw;
        height: 100%;
        left: -30px;
        top: -38%;

        background: #EAAFFF;
        transform: matrix(0.99, -0.03, -0.13, 1, 0, 0) rotate(-5deg);
    }

    .r3 {
        position: absolute;
        width: 115vw;
        height: 100%;
        left: -10px;
        top: -30px;

        background: #B8C7FC;
        transform: matrix(1, 0.08, -0.08, 1, 0, 0);
    }
}

.links-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-90deg) translate(-10px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(90deg) translate(-10px, 6px);
}