.page-titre{
    margin-top: 5%;
    text-align: center;
}

#formulaire-signin{
    position: absolute;
    top: 15%;
    left: 30%;
    width: 40%;
    border: 0 #F9F9FA;
}

#nom, #prenom, #email, #mdp, #confirmation{
    height: 55px;
    width: 100%;
    margin-top: 5px;
    border: 0 white;
    background: #FFFFFF;
}

::placeholder{
    padding: 5px;
    font-size: 15px;
    color: rgba(60, 60, 67, 0.6);
}

#bouton-valider{
    height: 55px;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;

    background-color: #5e81ff;
    border-radius: 14px;
    border: none;
    color: white;
    cursor: pointer;
}

#bouton-valider:hover {
    background-color: #007AFF;
}

#login{
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    color: rgba(60, 60, 67, 0.6);
}

.lien{
    color: #007AFF;
}

.lien:hover{
    color: darkblue;
}

.error{
    z-index: 4;

    position: absolute;
    left: 82%;
    top: 10%;

    font-family: "SF Pro Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 38px;

    color: red;
}